{% extends "base.html" %}

{% load static %}

{% block content %}
<section class="section-content padding-y bg">

<div class="container">
    <div class="row">
        <aside class="col-md-3">
            <!-- SIDEBAR -->
            <ul class="list-group">
                <a class="list-group-item active bg-warning" href="{% url 'dashboard' %}">My Books</a>
                <a class="list-group-item text-warning" href="{% url 'new_book' %}">Add Books</a>
                <a class="list-group-item text-warning" href="{% url 'received_orders' %}">Received Orders</a>
            </ul>
            <br>
            <!-- SIDEBAR .//END -->
        </aside>

        <main class="col-md-9">
            <h2>{% if book %}Update Book{% else %}Add Book{% endif %}</h2>
            <form method="post" action="{% if book %}{% url 'update_book' book.id %}{% else %}{% url 'new_book' %}{% endif %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">{% if book %}Update{% else %}Save changes{% endif %}</button>
            </form>
        </main>
    </div> <!-- row.// -->
</div>
</section>
{% endblock %}
