{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if 'search' in request.path %}
<h5 class="title-page text-info">Search results for {{ keyword }}</h5>
<header class="border-bottom mb-4 pb-3 ">
    <div class="form-inline">
        <span class="mr-md-auto">{{ book_count }} Items found</span>
        
    </div>
</header>
{% else %}
<section class="section-pagetop bg">
    <div class="container">
        <h4 class="title-page text-info">{{ category.name }}</h4>
        
    </div> <!-- container //  -->
    </section>
    </div> <!-- container .//  -->
{% endif %}
   
    <div class="row">
        {% if books %}
        {% for book in books %}
        <div class="col-md-3">
            <div class="card card-product-grid shadow-lg mt-3">
                <a href="{% url 'book_detail' book.id %}" class="img-wrap">
                    <img src="{{ book.image.url }}" alt="{{ book.title }}">
                </a>
                <figcaption class="info-wrap">
                    <a href="{% url 'book_detail' book.id %}" class="title">{{ book.title }}</a>
                    <div class="price mt-1">₹{{ book.price }}</div> <!-- price-wrap.//-->
                </figcaption>
                <div class="card-footer d-flex justify-content-between align-items-end">
                    <div>
                        {% if book.stock <= 0 %}
                            <span class="badge bg-danger">Out of Stock</span>
                        {% else %}
                            <span class="badge bg-success">In Stock</span>
                        {% endif %}
                    </div>
                    <div class="text-end">
                        {% if user_type == "buyer" %}
                            <a href="{% url 'add_to_cart' book.id %}"><span class="text-warning font-weight-bold">Add to Cart</span></a>
                        {% else %}
                            <span class="text-muted">You need to be a buyer to add items to your cart.</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>  <!-- col.// -->
        {% endfor %}
        {% else %}
        <div class="col-12">
            <p class="text-center text-bold ">No books available.</p>
        </div>
        {% endif %}
    </div>

    
    {% endblock %}