
{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="{% static 'images/banners/bookstore-landscape.jpg' %}" class="img-fluid rounded">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container mt-5">
    <div class="container ">
    <h3 class="section-title ">Popular categories</h3>
    <ul class="category-list d-flex flex-wrap list-unstyled "   >
        {% for category in categories %}
            <li class="category-item mx-5  text-decoration-none font-weight-bold " >
                <a href="{% url 'category_detail' category.id  %}" class = "text-info fs-3">{{ category.name }}</a>
            </li>
        {% empty %}
            <li>No categories available.</li>
        {% endfor %}
    </ul>
    </div>
<div class="container mt-5">
<header class="section-heading" >
	<!-- <a href="./store.html" class="btn btn-outline-primary float-right">See all</a> -->
	<h3 class="section-title">Popular products</h3>
</header><!-- sect-heading -->
</div>
	
<div class="row">
    {% for book in books|slice:":10" %}
	<div class="col-md-3">
		<div class="card card-product-grid shadow-lg mt-3">
			<a href="{% url 'book_detail' book.id %}" class="img-wrap"> <img src="{{ book.image.url }}"> </a>
			<figcaption class="info-wrap">
				<a href="{% url 'book_detail' book.id %}" class="title">{{ book.title }}</a>
				<div class="price mt-1">₹{{ book.price }}</div> <!-- price-wrap.// -->
			</figcaption>
            <!-- <div class="card-footer" style="display: flex; justify-content: flex-end;">
                <button class="btn btn-primary">Add to Cart</button>
            </div> -->
            <div class="card-footer d-flex justify-content-end">
               <a href="{% url 'add_to_cart' book.id %}"><span  class = "text-warning font-weight-bold">Add to Cart</span></a> 
            </div>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
	
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->




<!-- ========================= FOOTER ========================= -->

<!-- ========================= FOOTER END // ========================= -->

</body>
</html>

{% endblock %}